<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#ffff;border: 1px solid rgba(0,0,0,.125) ;">
  <a class="navbar-brand" href="#">Angular Minds </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/feed" class="nav-link text-black">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black" type="button" (click)="open(content)">Add Post</a>
      </li>
    </ul>

    <ul class="list-unstyled ms-auto mx-5">
      <li class="p-3">
        <div class="dropdown dropstart mt-3">
          <ngx-avatars class="dropdown-toggle" src="http://localhost:8000/{{imgage}}" data-bs-toggle="dropdown" aria-expanded="false" name={{userData.name}}
            size="40" [round]="true">
          </ngx-avatars>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/edit-profile" href="#">Edit Profile</a></li>
            <li><button class="dropdown-item" (click)="open(content1)">Change password</button></li>
            <li><a class="dropdown-item" (click)="logout()" href="#">Logout</a></li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
</nav>


<!--change password Modal -->
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePassForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Current Password</label>
        <input type="password" formControlName="currentPassword" class="form-control" id="" aria-describedby="" placeholder="Enter Name"
        [ngClass]="{ 'is-invalid': submitted && c['currentPassword'].errors }">
        <div *ngIf="c['currentPassword'].touched && c['currentPassword'].invalid" class="alert alert-danger">
          <div *ngIf="c['currentPassword'].errors && c['currentPassword'].errors['required']">Current Password required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">New Password</label>
        <input type="password" formControlName="newPassword" class="form-control" id="" aria-describedby="" placeholder="Enter Name"
        [ngClass]="{ 'is-invalid': submitted && c['newPassword'].errors }">
        <div *ngIf="c['newPassword'].touched && c['newPassword'].invalid" class="alert alert-danger">
          <div *ngIf="c['newPassword'].errors && c['newPassword'].errors['required']">New Password is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control" id="" aria-describedby="" placeholder="Enter Name"
        [ngClass]="{ 'is-invalid': submitted && c['confirmPassword'].errors }">
        <div *ngIf="c['confirmPassword'].touched && c['confirmPassword'].invalid" class="alert alert-danger">
          <div *ngIf="c['confirmPassword'].errors && c['confirmPassword'].errors['required']">Confirm Password is required.</div>
        </div>
      </div>
      <div *ngIf="passErr">
        <div class="alert alert-danger">
          <p>{{passErr}}</p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSubmit1()" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>


<!--Add Post Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Post</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="card p-3">
      <form [formGroup]="addPostForm">
        <div class="row">
          <div class="text-center">
            <img src=" " class="avatar img-circle img-thumbnail"
              alt="avatar">
            <h6>Upload a different photo...</h6>

            <input type="file" (change)="onFileSelected($event)" formControlName="img" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f['img'].errors }">
            <div *ngIf="f['img'].touched && f['img'].invalid" class="alert alert-danger">
              <div *ngIf="f['img'].errors && f['img'].errors['required']">file is required.</div>
          </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Caption:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="caption" placeholder="Enter Bio" rows="3"
            [ngClass]="{ 'is-invalid': submitted && f['caption'].errors }"></textarea>
            <div *ngIf="f['caption'].touched && f['caption'].invalid" class="alert alert-danger">
              <div *ngIf="f['caption'].errors && f['caption'].errors['required']">caption is required.</div>
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSubmit()"  (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>