<body>
<app-nav></app-nav>

    <div class="container mt-5">
        <div class="row">
            <div *ngFor="let item of postArr" class="col-md-12 d-flex justify-content-center mb-4">
                <div class="fcard card" style="width: 18rem;">
                    <h5 class="card-title d-flex align-items-center ms-3">{{userData.name}}</h5>
                    <img class="card-img-top" src="http://localhost:3000/{{item.img}}" alt="Card image cap">
                    <div class="card-body1 d-flex">
                      <div class="icon">
                        <i class="fa fa-heart" aria-hidden="true"></i> 
                      </div>
                      <div class="icon">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="card-body2 d-flex">
                        <div>
                            345 likes
                        </div>
                      </div>
                    <div class="card-body3 mt-2">
                    <p *ngIf="item.caption" class="card-text"><span class="fw-bold">{{userData.name}}</span> {{item.caption}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>