<body>
<app-nav></app-nav>

    <div class="container mt-5">
        <div class="row">
            <div *ngFor="let item of postArr;let i=index" class="col-md-12 d-flex justify-content-center mb-4">
                <div class="fcard card" style="width: 18rem;">
                    <h5 class="card-title d-flex align-items-center ms-3">{{userData.name}}</h5>
                    <img class="card-img-top" src="http://localhost:8000/{{item.img}}" alt="">
                    <div class="card-body1 d-flex">
                      <div class="icon">
                        <a  (click)="onLikes(i)">
                        <i *ngIf="item._id!=id" class="fa fa-heart"  aria-hidden="true"></i> 
                        <i *ngIf="item._id==id" [ngClass]="[ like ? 'fa fa-heart my_class' : 'fa fa-heart']"  aria-hidden="true"></i> 
                        </a>
                      </div>
                      <div class="icon">
                        <a (click)="hide(i)">
                          <i class="fa fa-comment"  aria-hidden="true"></i>
                        </a>
                       </div>
                    </div>
                    <div *ngIf="hideCard && index1==i" class="card-text ms-3">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="m-1" *ngFor="let comments of item.comments">
                           <span class="fw-bold">comment:</span> {{comments.comment}}
                           </p>
                        </div>
                     </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" #comment class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                          </div>
                        </div>
                        <div class="col-md-4">
                            <button (click)="addComment(comment.value,i)" class="btn btn-primary">Add Comment</button>
                        </div>
                      </div>
                    </div>
                    <div class="card-body2 d-flex">
                        <div>
                          <span *ngIf="item._id!=id" class="me-1">0 likes</span> 
                          <span *ngIf="item._id==id" class="me-1">{{likes}} likes</span> 
                        </div>
                    </div>
                    <div class="card-body3 mt-2">
                    <p *ngIf="item.caption" class="card-text"><span class="fw-bold">{{userData.name}} :</span> {{item.caption}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

